@import url("http://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");

*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}
body{

    min-height: 200vh;
    background-color:white;
}

header{
    /* 固定定位 */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* 弹性布局 */
    display: flex;
    /* 将元素靠边对齐 */
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    /* 动画过渡 */
    transition: 0.6s;
    padding: 40px 100px;
}


header .logo{
    font-size: 32px;
    font-weight: 700;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
}

header .logo:hover{
    color: #000000;
}

header ul{
    justify-content: center;
    align-items: center;
    list-style: none;
}

header ul li{
    list-style: none;
    float: left;
}



header ul li a:hover{
    background-color: #ddd;
    color: black;
    animation: changeColor 2s infinite;
    animation-delay:3s;

}





header ul li a{
    margin: 0 15px;
    text-decoration: none;
    color: black;
    letter-spacing: 2px;
    font-weight: 500;
    transition: 0.6s;
    line-height: 50px;
    text-transform: uppercase;
    display: block;
    text-align: center;
}


header ul li ul li {
    display: none;
    width: 250px;
    height: 50px;
    float: initial;

    font-size: 10px;
    transition: 0.8s;
    flex-wrap: nowrap;

}


.navbar ul li:hover ul li {
    display: block;
    border-top: 1px;
    transition: 0.8s;
    flex-wrap: nowrap;
}


header.sticky{
    padding: 6px 100px;
    background-color: lightgray;
}
header.sticky .logo,
header.sticky ul li a{
    color: #000;
}



.section-container-1 {
    border-top: 1px solid #ccc; /* 添加顶部边框 */
    border-bottom: 1px solid #ccc; /* 添加底部边框 */
    width: 85%;  /* 设置宽度为 80% 的浏览器视窗宽度 */
    height: 650px;  /* 设置固定的高度为 500px */
    margin: auto;  /* 自动边距以使 section 居中 */
    margin-top: 200px;
    display: flex;
    justify-content: center;  /* 水平居中内容 */
    align-items: center;  /* 垂直居中内容 */
    background-image: url('../res/sponser3.png');
    background-size: cover;
    background-position: center;
}


.left-side {
    flex: 1;
    padding: 20px;
}

.left-side .image-links {
    margin-left: 100px;
    display: flex;
    justify-content: flex-start; /* 这将使图片靠左对齐 */
    width: 100%;
}

.left-side .image-links a img {
    width: 50px;  /* 设置图片的宽度 */
    height: 50px;  /* 设置图片的高度 */
    object-fit: cover;  /* 确保图片覆盖整个区域，但可能会裁剪 */
    margin-right: 10px;
}

h1 {
    font-size: 50px;  /* 设置字体大小 */
    margin: 100px 0;  /* 设置间距，20px 是顶部和底部间距，0 是左右间距 */
    margin-left: 100px;  /* 为了更向右，我们增加了左边距 */
}

h2 {
    font-size: 20px;
    margin-left: 100px;
    margin-bottom: 50px;
}

h4 {
    font-size: 10px;
    margin-left: 100px;
    margin-bottom: 30px;
}

.title-description {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    color: grey;
}

.title-description span:first-child {
    padding-left: -500px;
}

.title-description span:last-child {
    padding-right: -500px;
}

.feedback-section {
    background-color: #ffffff;
    padding: 50px;
    width: 50%;
    margin: auto;
    margin-top: 50px;
    text-align: center;
    border-radius: 8px;
}


.feedback-section h1 {
    margin-left: 50px;  /* 调整该值以向左移动标题 */
}

.form-container {
    padding-left: 0;
    width: 80%;
    margin: auto;
    padding: 20px;
}

.input-group {
    display: flex;
    justify-content: space-between;
}

.input-field {
    display: flex;
    flex-direction: column;
    width: 45%; /* 调整宽度以获得理想的间距 */
    margin-left: 0px
}


#name {
    width: 103%;
    height:35px;

}
#email {
    width: 103%;
    height:35px;

}


.input-field textarea {
    margin-left: 0;
    width: 225%;  /* 这将设置宽度为100% */
    height: 300px;  /* 这将设置高度为150像素 */
    resize: none;  /* 这将禁止用户调整大小 */
}

.checkbox-group {
    margin-bottom: 30px;
}

.checkbox-group input {
    margin-right: 10px;
}

.button {
    background-color: black;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    outline: none;
}

.user-avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}


button:hover {
    background-color: grey;
}














