

body {

    min-height: 200vh;
    background-color: white;

}

.background{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-height: 100vh;
    width: 100%;
    background-color: black;
    justify-content:flex-start;
    align-items: center;
    z-index: 0;
    font-family: "Apple Braille";

}

.content, .content2 {
    transition: opacity 2s ease-in-out;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 28vh 5vw 20vh;
    width: 50%;
    height: 60vh;
    background-color: black;
    transition-delay: 1s;
    transition-duration: 2s;
    transition-timing-function: ease-in-out;


}
.content h1{
    font-size: 4vw;
    color: white;
    background-color: black;






}
.content p{
    color: white;
    font-size: 1.3vw;
    background-color: black;
    margin-top: 3vh;


}
.backgroundButton{
    width: 40%;
    margin-top: 2.5vh;
    padding: 1.5vh;
    cursor: pointer;
    transition: all 0.5s;
    border-radius: 1.8vh;
    background-color: white;
    color: black;
    text-align: center;
    font-size: 1vw;

}
.backgroundButton span{
    cursor: pointer;
    position: relative;
    transition: 0.5s;
}
.backgroundButton span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -2vw;
    transition: 0.5s;
}

.backgroundButton:hover span {
    padding-right: 1.5vw;
}

.backgroundButton:hover span:after {
    opacity: 1;
    right: 0;
}


.content2{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 28vh 5vw 20vh;
    width: 50%;
    height: 60vh;
    opacity: 0;  /* 设置初始透明度为0 */
    z-index: 5;


    backdrop-filter: blur(25px) saturate(200%);
    -webkit-backdrop-filter: blur(25px) saturate(200%);
    background-color: rgba(255, 255, 255, 0.13);
    border-radius: 25px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    font-family: "Apple Braille";





}

#chat-box{

    width: 100%;
    height: 90%;
    overflow: scroll;


}
#send-area{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 10%;

}

#user-input {
    width: 30%;  /* 调整宽度 */
    margin-top: 0.8vh;
    margin-bottom: 0.8vh;
    padding: 10px;  /* 增加内边距 */
    border-radius: 20px;  /* 圆角边框 */
    border: 1px solid rgba(255, 255, 255, 0.2);;  /* 边框样式 */

    font-size: 1rem;  /* 字体大小 */
    margin-right: 10px;  /* 与按钮之间的间距 */
    backdrop-filter: blur(0px) saturate(200%);
    -webkit-backdrop-filter: blur(25px) saturate(200%);
    background-color: rgba(255, 255, 255, 0.02);
    outline: none;  /* 移除焦点轮廓 */
    color: white;

}

#user-input:focus {
    border-color: black;  /* 焦点时的边框颜色 */
    color: white;
}

#chat-button {
    padding: 10px 20px;  /* 内边距 */
    border-radius: 20px;  /* 圆角边框 */
    border: none;  /* 移除边框 */
    background-color: rgb(0, 0, 0,0.5);  /* 背景颜色 */
    color: #fff;  /* 文字颜色 */
    font-size: 1rem;  /* 字体大小 */
    cursor: pointer;  /* 指针样式 */
    outline: none;  /* 移除焦点轮廓 */
    margin-top: 0.8vh;
    margin-bottom: 0.8vh;
}

#chat-button:hover {
    background-color: rgb(0, 0, 0);   /* 鼠标悬停时的背景颜色 */
}
@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.cursor {
    animation: blink 1s infinite;
    display: inline-block;
    width: 1ch;
    background-color: #fff !important;
}




#caregiver{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    min-height: 80vh;
    width: 100%;
    background-color: white;
    justify-content:flex-start;
    align-items: center;
    z-index: 0;
    font-family: "Apple Braille";
}
.showingPicture{
    width: 29vw;
    max-height: 72vh;
    text-align: center;
    background-color: white;
    margin-right: 15vw;
    padding: 0;

}
.backgroundPicture{
    width: 100%;
    height: 40vh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.contentRight{
    margin-right: 10vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 30vh;
    background-color: white;
}
.contentRight h1{
    font-size: 1.8vw;
    margin-bottom: 0.6vh;

}
.contentRight p{
    font-size: 0.8vw;
    margin-right: 7vw;
}

#gp{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-height: 80vh;
    width: 100%;
    background-color: white;
    justify-content:flex-start;
    align-items: center;
    z-index: 0;
    font-family: "Apple Braille";
}
.showingPicture2{
    width: 29vw;
    max-height: 72vh;
    text-align: center;
    background-color: white;
    margin-left: 13vw;
    padding: 0;

}
.backgroundPicture2{
    width: 100%;
    height: 40vh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.contentLeft{
    margin-left: 13vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 30vh;
    background-color: white;
}
.contentLeft h1{
    font-size: 1.8vw;
    margin-bottom: 0.6vh;
}
.contentLeft p{
    font-size: 0.8vw;
}


