@import url("http://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");

*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}
body{

    min-height: 200vh;
    background-color:white;
}

header{
    /* 固定定位 */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* 弹性布局 */
    display: flex;
    /* 将元素靠边对齐 */
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    /* 动画过渡 */
    transition: 0.6s;
    padding: 40px 100px;

}


header .logo{
    font-size: 32px;
    font-weight: 700;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
}

header .logo:hover{
    color: #000000;
}

header ul{
    justify-content: center;
    align-items: center;
    list-style: none;
}

header ul li{
    list-style: none;
    float: left;
}



header ul li a:hover{
    background-color: #ddd;
    color: black;
    animation: changeColor 2s infinite;
    animation-delay:3s;

}





header ul li a{
    margin: 0 15px;
    text-decoration: none;
    color: black;
    letter-spacing: 2px;
    font-weight: 500;
    transition: 0.6s;
    line-height: 50px;
    text-transform: uppercase;
    display: block;
    text-align: center;
}


header ul li ul li {
    display: none;
    width: 250px;
    height: 50px;
    float: initial;

    font-size: 10px;
    transition: 0.8s;
    flex-wrap: nowrap;

}


.navbar ul li:hover ul li {
    display: block;
    border-top: 1px;
    transition: 0.8s;
    flex-wrap: nowrap;
}


header.sticky{
    padding: 6px 100px;
    background-color: lightgray;
}
header.sticky .logo,
header.sticky ul li a{
    color: #000;
}







#signUp    .login-container {
    max-width: 400px;
    margin: 0 auto;
    margin-top: 2%;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

#signUp .login-container h2 {
    margin-bottom: 20px;
}

#signUp .form-group {
    margin-bottom: 20px;
}

#signUp .form-group label {
    display: block;
    text-align: left;
    font-weight: bold;
}

#signUp .form-group input[type="text"],
#signUp .form-group input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

#signUp   .title {
    text-align: center;
    margin-top: 13%;
}
#signUp .forgot-password-link {
    font-size: 10px;
    text-align: left;
    margin-top: 5px;
}

#signUp .remember-me {
    display: flex;
    align-items: center;
}

#signUp .remember-me label {
    margin-left: 2%;
    font-size: 10px;
}

#signUp .common-button {
    width: 100%;
    padding: 10px;
    background-color: #353535;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

#signUp .common-button:hover {
    background-color: #878a8d;
}

#signUp .form-group button.create-account-button {
    background-color: white;
    color: black;
    border: 1px solid grey;
    margin-top: 10%;
}
#signUp .form-group button.create-account-button:hover {
    background-color: grey;
    color: white;
}

#signUp .separator {
    flex-grow: 1;
    border-top: 1px solid rgb(205, 194, 194);
}

#signUp .content-container {
    background-color: rgb(231, 222, 222); /* Change to your desired grey color */
    padding: 20px 0; /* Add some padding for spacing */
}

#signUp .signup-link {
    font-size: 12px;
    text-align: center;
    margin-top: 10px;
}

#signUp .signup-link a {
    color: #353535;
    text-decoration: none;
    font-weight: 600;
    margin-left: 5px;
}

#signUp .signup-link a:hover {
    text-decoration: underline;
}

.error-message {
    color: red;
    display: none;
    font-size: 12px;
}

#generalError {
    color: red;
    font-weight: bold;
}

