@import url("http://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");

* {
    font-family: 'Poppins';
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    letter-spacing: 1px;
}

body {
    padding-top: 100px;
    min-height: 200vh;
    background-color: white;
}

.back-arrow {
    display: inline-block;
    position: relative;
    width: 30px;
    height: 20px;
    border: 2px solid #000; 
    cursor: pointer;
    transition: all 0.3s ease; 
  }
  
  .back-arrow:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 5px;
    width: 10px;
    height: 10px;
    border-top: 2px solid #000; 
    border-left: 2px solid #000; 
    transform: translateY(-50%) rotate(-45deg);
  }
  
  .back-arrow:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 12px; 
    width: 16px;
    height: 2px;
    background-color: #000;
    transform: translateY(-50%);
  }
  
  .back-arrow:hover {
    border-color: #007bff; 
    color: #007bff; 
  }
  
  .back-arrow:hover:before {
    border-top-color: #007bff;
    border-left-color: #007bff; 
  }
  
  .back-arrow:hover:after {
    background-color: #007bff; 
  }


#booking-hall .hall-show .card {
    justify-content: space-between;
}

.bookingpage {
    display: flex;
    flex-direction: row;
}

.bookingpage .bookingpage-form {
    border: 1px solid #cccccc;
    border-radius: 15px !important; 
    font-weight: bolder;
    overflow: hidden; 
}

button[type=submit] {
    background-color: #6c757d; 
    color: #fff; 
    border: none; 
    padding: 10px 20px; 
    cursor: pointer; 
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out; 
}

button[type=submit]:hover {
    transform: scale(1.1); 
    background-color: #5a6268; 
}

button[type=submit]:disabled {
    background-color: #ced4da; 
    cursor: not-allowed; 
}

.slidecontainer {
  width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 30%; /* Full-width */
  height: 25px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #000302; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #000604; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

