body {

    min-height: 100vh;
    background-color: white;

}

header {

    background-color: rgb(120,120,120);
}

header.sticky {
    padding: 6px 100px;
    background-color: rgb(220,220,220);
}

.section-container-1 {
    border-top: 1px solid #ccc; /* 添加顶部边框 */
    border-bottom: 1px solid #ccc; /* 添加底部边框 */
    width: 85%;  /* 设置宽度为 80% 的浏览器视窗宽度 */
    height: 650px;  /* 设置固定的高度为 500px */
    margin: auto;  /* 自动边距以使 section 居中 */
    margin-top: 200px;
    display: flex;
    justify-content: center;  /* 水平居中内容 */
    align-items: center;  /* 垂直居中内容 */
    background-image: url('../images/sponser1.png');
    background-size: cover;
    background-position: center;
}

.section-container-2 {
    border-bottom: 1px solid #ccc; /* 添加底部边框 */
    width: 85%;  /* 设置宽度为 80% 的浏览器视窗宽度 */
    height: 650px;  /* 设置固定的高度为 500px */
    margin: auto;  /* 自动边距以使 section 居中 */
    display: flex;
    justify-content: center;
    align-items: center;  /* 垂直居中内容 */
    background-image: url('../images/sponser2.png');
    background-size: cover;
    background-position: center;
    padding-left: 100px;
}

.section-container-3 {
    border-bottom: 1px solid #ccc; /* 添加底部边框 */
    width: 85%;  /* 设置宽度为 80% 的浏览器视窗宽度 */
    height: 650px;  /* 设置固定的高度为 500px */
    margin: auto;  /* 自动边距以使 section 居中 */
    display: flex;
    justify-content: center;
    align-items: center;  /* 垂直居中内容 */
    background-image: url('../images/sponcer3.png');
    background-size: cover;
    background-position: center;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-side {
    flex: 1;
    padding: 20px;
    text-align: left;
}

.right-side {
    flex: 1;
    padding: 20px;
    text-align: right; /* 文字右侧对齐 */
}
.section-container-1 .right-side {
    margin-left: -20px;
    margin-top: 70px;
}

.section-container-2 .left-side {
    margin-right: -20px;
    margin-top: 50px;
}

.section-container-3 .right-side {
    margin-left: -20px;
    margin-top: 50px;
}

img {
    max-width: 100%;
    height: auto;
}




h1 {
    font-size: 60px;  /* 设置字体大小 */
    margin: 40px 0;  /* 设置间距，20px 是顶部和底部间距，0 是左右间距 */
    margin-left: 100px;  /* 为了更向右，我们增加了左边距 */
}

h2 {
    font-size: 20px;
    margin-left: 100px;
    margin-bottom: 15px;
}

h3 {
    font-size: 60px;  /* 设置字体大小 */
    margin: 40px 0;  /* 设置间距，20px 是顶部和底部间距，0 是左右间距 */
    margin-right: 100px;
}

h4 {
    font-size: 20px;
    margin-right: 100px;
    margin-bottom: 15px;
}


.button-left {
    margin-left: 100px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    outline: none;
}

.button-right {
    margin-right: 100px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    outline: none;
}

button:hover {
    background-color: grey;
}










