/* Reset some basic elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Helvetica Neue', sans-serif;
}

/* Body styling */
body {
    background-color: #f7f7f9;
    color: #333;
}

/* Container */
.container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

/* Card styles */
.card {
    background: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin: 20px;
    overflow: hidden;
    transition: transform .2s ease-in;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 4rem;
}

.card:hover {
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    transform: scale(1.05);
}

.card img {

    box-shadow: 0 4px 8px rgba(0,0,0,0.05);

    max-width: 5vw;
    height:8vh;
    border-radius: 100%;
    object-fit:cover;
    margin: 0 auto;
    margin-top: 1vh;
}

.card-body {
    padding: 20px;
}

.card-title {
    font-size: 24px;
    margin-bottom: 15px;
}

.card-text {
    font-size: 16px;
    color: #777;
}

/* Button */
.btn {
    background-color: #007bff;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
}

.btn:hover {
    background-color: #0056b3;
}

.time-selection {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.time-selection label, .time-selection input {
    margin: 0 10px;
    font-size: 0.8rem;

}


.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.pagination a, .pagination span {
    margin: 0 5px;
    padding: 5px 15px;
    font-size: 16px;
    font-weight: 500;
    color: #007aff; /* 苹果蓝色 */
    text-decoration: none;
    border-radius: 8px; /* 圆角 */
    transition: background-color 0.3s;
}

.pagination a.active, .pagination a:hover {
    background-color: #007aff; /* 当前页面或悬停时的背景色 */
    color: #ffffff; /* 当前页面或悬停时的文本颜色 */
}

.pagination span {
    color: #b2b2b2; /* 非可点击页码的颜色 */
    pointer-events: none; /* 禁止点击或悬停事件 */
}


/* 返回按钮样式 */
.previous {
    position: absolute; /* 固定位置 */
    margin-top:1vh;
    left: 15vw;/* 距离左侧10像素 */
    padding: 10px 20px; /* 内边距 */
    font-size: 4rem; /* 字体大小 */
    color: #007aff; /* 苹果蓝色 */
    background-color: transparent; /* 透明背景 */
    border: none; /* 无边框 */
    border-radius: 8px; /* 圆角 */
    cursor: pointer; /* 鼠标样式为指针 */
    transition: background-color 0.3s; /* 背景色过渡效果 */


}

/* 返回按钮悬停样式 */
.previous:hover {
    background-color: rgba(0, 122, 255, 0.1); /* 悬停时的背景色，带透明度 */
}

.container mt-5{
    margin-top: 40vh;
}