<!doctype html>
<html class="no-js" lang="">

<head>
  <title>E-MedCenter</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
  <meta name="keywords" content="Book Gp, Caregiver, Doctor">
  <meta name="description" content="Book Gp and Caregiver in a easy way">
  <meta name="author" content="Group 50">
  <!--<meta http-equiv="refresh" content="30">-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="../css/index.css">
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/support.css' %}" />

    <style>
        .user-avatar {
            vertical-align: middle;
            width: 50px;
            height: 50px;
            border-radius: 50%;
        }
    </style>

  <script src="../js/plugins.js"></script>
</head>

<!-- navigation bar -->
<header>
  <a href="#" class="logo">E-MedCenter</a>
  <div class="navbar">
    <ul>
      <li><a href="#">Home</a>
      </li>

      <li><a href="#">Book</a>
        <ul>
          <li><a href="">Caregiver</a>
          <li><a href="">Practitioner</a>
        </ul>
      </li>

      <li><a href="">Donation</a>
      </li>

      <li><a href="" >Service Information</a></li>
      <li><a href="">About Us</a></li>
      <li><a href="">Sign in/up</a></li>
    </ul>
  </div>
</header>



<body>
<section class="support" id="support" data-aos="fade-right" data-aos-duration="1500" data-aos-delay="300">
  <div class="showingPicture" >
    <img src="{% static 'res/img1.jpeg' %}" class="backgroundPicture">
    </div>
  <div class="contentRight">
    <h1>About us</h1>
    <h2>Where Quality Healthcare Meets Convenience</h2>
    <h4>Share this website with your friend:</h4>
    <div class="image-links">
        <a href="https://www.graincorp.com.au/community-fund/" target="_blank">
            <img src="{% static 'res/twitter_icon.png' %}" alt="twitter" >
        </a>
        <a href="https://www.graincorp.com.au/community-fund/" target="_blank">
            <img src="{% static 'res/ins_icon.png' %}" alt="ins" >
        </a>
        <a href="https://www.graincorp.com.au/community-fund/" target="_blank">
            <img src="{% static 'res/facebook_icon.png' %}" alt="facebook" >
        </a>
    </div>

  </div>
  </section>

<section>
  <div class="center-content d-flex flex-column align-items-center justify-content-center" style="min-height: calc(100vh - 56px); margin-top: 50px;">  
    <div class="text-center mb-4">
        <h2 style="margin-top: 50%; margin-bottom: 2%; font-size:50px;">Our Team</h2>
    </div>
      
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-6", style="margin-left: -30px;">
                    <div class="our-team">
                        <img src="{% static 'res/img-1.webp' %}" alt="" class="img">
                        <div class="team-content">
                            <h3 class="post-title">Dr. Emily Johnson</h3>
                            <span class="post">Chief Medical Advisor</span>
                            <p class="description">
                                Dr. Emily Johnson is a distinguished medical professional with extensive experience in medical advisement and healthcare management.
                            </p>
                            <ul class="team_social">
                                <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-google-plus"></i></a></li>
                                <li><a href="#"><i class="fab fa-pinterest"></i></a></li>
                            </ul>
                        </div>
                        <div class="team-prof">
                            <h3 class="post-title">Dr. Emily Johnson</h3>
                            <span class="post">Chief Medical Advisor</span>
                        </div>                            
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <div class="our-team" style="margin-left: 20%;">
                        <img src="{% static 'res/img.jpeg' %}" alt="" class="img">
                        <div class="team-content">
                            <h3 class="post-title">Jane Doe</h3>
                            <span class="post">Chief Nursing Officer</span>
                            <p class="description">
                                Jane Doe, our Chief Nursing Officer, brings a wealth of experience in providing high-quality patient care and nursing leadership. With a profound dedication to promoting health.
                            </p>
                            <ul class="team_social">
                                <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                            </ul>
                        </div>
                        <div class="team-prof">
                            <h3 class="post-title">Jane Doe</h3>
                            <span class="post">Chief Nursing Officer</span>
                        </div>                            
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <div class="our-team" style="margin-left: 40%;">
                        <img src="{% static 'res/img-1.avif' %}" alt="" class="img">
                        <div class="team-content">
                            <h3 class="post-title">Dr. Sarah Miller</h3>
                            <span class="post">Clinical Director</span>
                            <p class="description">
                                Dr. Sarah Miller is a dynamic and innovative Clinical Director with a passion for delivering high-quality patient care. 
                            </p>
                            <ul class="team_social">
                                <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                            </ul>
                        </div>
                        <div class="team-prof">
                            <h3 class="post-title">Dr. Sarah Miller</h3>
                            <span class="post">Clinical Director</span>
                        </div>                            
                    </div>
                </div>
            </div>
        </div>
      
    </section>

    <hr>



    <div class="text-center mb-4">
        <h2 style="margin-top: 20%; margin-bottom: 2%; font-size:50px;">Our Partner</h2>
    </div>

    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-6", style="margin-left: -30px;">
                    <div class="our-team">
                        <img src="{% static 'res/insu.png' %}" alt="" class="img">
                        <div class="team-content">
                            <h3 class="post-title">SecureFuture Insurance</h3>
                            <span class="post">Your Shield to the Future</span>
                            <p class="description">
                                Your partner in premium protection solutions.
                            </p>
                            <ul class="team_social">
                                <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-google-plus"></i></a></li>
                                <li><a href="#"><i class="fab fa-pinterest"></i></a></li>
                            </ul>
                        </div>
                        <div class="team-prof">
                            <h3 class="post-title">SecureFuture Insurance</h3>
                            <span class="post">Tailored Insurance Solutions</span>
                        </div>
                                                 
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <div class="our-team" style="margin-left: 20%;">
                        <img src="{% static 'res/ngo.jpeg' %}" alt="" class="img">
                        <div class="team-content">
                            <h3 class="post-title">Global Harmony</h3>
                            <span class="post">Sustainable Development</span>
                            <p class="description">
                                Empowering communities through education, health, and sustainability projects worldwide.
                            </p>
                            <ul class="team_social">
                                <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                        <div class="team-prof">
                            <h3 class="post-title">Global Harmony</h3>
                            <span class="post">Sustainable Development</span>
                        </div>
                        
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <div class="our-team" style="margin-left: 40%;">
                        <img src="{% static 'res/med.jpeg' %}" alt="" class="img">
                        <div class="team-content">
                            <h3 class="post-title">HealWell Medical Center</h3>
                            <span class="post">Healthcare Provider</span>
                            <p class="description">
                                Providing advanced medical care and wellness services to ensure community well-being.
                            </p>
                            <ul class="team_social">
                                <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                        <div class="team-prof">
                            <h3 class="post-title">HealWell Medical Center</h3>
                            <span class="post">Healthcare Provider</span>
                        </div>                            
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
</section>



<section class="feedback-section">
    <div class="form-container">

       <h1>Share Your Advice</h1>
       <div class="title-description">
        <span>Your Feedback is valuable to us.</span>
     </div>
       <div class="input-group">
           <div class="input-field">
              <label for="name">Name</label>
              <input type="text" id="name" name="name" placeholder="Enter your name">
           </div>
           <div class="input-field">
              <label for="email">Email Address</label>
              <input type="email" id="email" name="email" placeholder="Enter your Email">
           </div>
       </div>

      <div class="input-field">
          <label for="description" >Advice</label>
          <textarea id="description" name="description" placeholder="Enter your description"></textarea>
      </div>

      <div class="checkbox-group">
        <input type="checkbox" id="agree" name="agree" onchange="toggleSubmit()">
        <label for="agree">
          I agree to the <a href="javascript:void(0)" onclick="showTermsModal()">Terms and Conditions</a>
        </label>
      </div>
      <div id="termsModal" class="modal">
        <div class="modal-content">
          <span class="close" onclick="hideTermsModal()">&times;</span>
          <p><strong>Terms and Conditions</strong></p>
          <br>

          <p><strong>1. Acceptance of Terms</strong></p>
          <p class="terms-line">By accessing the Website or using our services, you agree to comply with and be bound by these Terms and our Privacy Policy. If you disagree with any part of these Terms, please do not use our Website or services.</p>
          <br>

          <p><strong>2. Use of Services</strong></p>
          <p class="terms-line">- You must be at least 18 years old to use our services.</p>
          <p class="terms-line">- You agree to provide accurate, current, and complete information during the registration process.</p>
          <p class="terms-line">- You are responsible for maintaining the confidentiality of your account and password.</p>
          <p class="terms-line">- You may not use the Website or services for any illegal or unauthorized purpose.</p>
          <br>

          <p><strong>3. Privacy</strong></p>
          <p class="terms-line">Your use of the Website is also governed by our Privacy Policy, which is available at [Link to Privacy Policy]. By using the Website, you consent to the terms of our Privacy Policy.</p>
          <br>

          <p><strong>4. Intellectual Property</strong></p>
          <p class="terms-line">- The content on this Website, including text, graphics, logos, images, and software, is protected by copyright and other intellectual property rights owned or licensed by us.</p>
          <p class="terms-line">- You may not use our intellectual property without our prior written consent.</p>
          <br>

          <p><strong>5. User Content</strong></p>
          <p class="terms-line">- Users may post, upload, or submit content to the Website.</p>
          <p class="terms-line">- You grant us a non-exclusive, worldwide, irrevocable, sub-licensable license to use, reproduce, adapt, publish, translate, and distribute your user content.</p>
          <p class="terms-line">- User content must not violate these Terms or any applicable laws.</p>
          <br>

          <p><strong>6. Limitation of Liability</strong></p>
          <p class="terms-line">We shall not be liable for any direct, indirect, special, or consequential damages.</p>
          <br>

          <p><strong>7. Governing Law</strong></p>
          <p class="terms-line">These Terms are governed by and construed in accordance with the laws of NSW.</p>
          <br>
        </div>
      </div>
      

      <button type="submit" id="submitBtn" disabled class="button">Submit</button>

    </div>
</section>





<section>
  <div class="footer">
    <ul class="footer-links">
      <li><a href="#">Site Map</a></li>
      <li><a href="#">Privacy Policy</a></li>
      <li><a href="#">Terms of Use</a></li>
      <li><a href="#">Support</a></li>
    </ul>
  </div>
</section>
</body>


  <script>
    window.addEventListener("scroll",()=>{
      let header=document.querySelector("header");
      header.classList.toggle("sticky",window.scrollY>0);
    })

    function showTermsModal() {
        document.getElementById("termsModal").style.display = "block";
      }
      
      // Function to hide the terms modal
      function hideTermsModal() {
        document.getElementById("termsModal").style.display = "none";
      }
  </script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/0.157.0/three.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vanta/0.5.24/vanta.halo.min.js"></script>
  <script>
    VANTA.HALO({
      el: "background",
      mouseControls: true,
      touchControls: true,
      gyroControls: false,
      minHeight: 200.00,
      minWidth: 200.00,
      xOffset: 0.26,
      yOffset: -0.13})
  </script>


<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
  AOS.init();
</script>


  </html>
