<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Admin Dashboard</title>
    <!-- MATERIAL CDN -->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp"
      rel="stylesheet"
    />
    <!-- STYLESHEET -->
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/dashboard_staff.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}" />
      <style>
          /* Your existing CSS goes here */

          /* Overlay */
          .overlay {
              position: fixed;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              background: rgba(0,0,0,0.5);
              z-index: 10;
          }

          /* Input card */
          .input-card {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              background: white;
              padding: 20px;
              min-width: 20vw;
              z-index: 11;
              border: 1px solid #ccc;  /* Added border */
          }

          /* Input field */
          .input-field {
              margin-bottom: 10px;
          }

          .input-label {
              display: inline-block;
              width: 100px;
          }

          .input-box {

              border: 1px solid #ccc;  /* Added border */
              background: var(--color-white);
              color: var(--color-dark);
              border-radius: var(--border-radius-1);
              padding: 12px;
              box-shadow: var(--box-shadow);
              transition: all 300ms ease;
              width: 100%;
          }

          /* Submit Button */
          input[type="submit"] {
              background: var(--color-primary);
              color: var(--color-white);
              border-radius: var(--border-radius-1);
              padding: 12px 24px;
              cursor: pointer;
              transition: all 300ms ease;
          }
          input[type="submit"] :hover{
              background: var(--color-primary-variant);
          }

          /* Disabled content */
          .disabled-content {
              filter: blur(2px);
              pointer-events: none;
          }

          .close-icon {
              position: absolute;
              top: 10px;
              right: 10px;
              cursor: pointer;
          }
      </style>
  </head>
  <body>
    <div class="container">
      <aside>
        <div class="top">
          <div class="logo">
            <!--<img src="./images/logo.png" />-->
            <h2 >E<span class="danger">MedCenter</span></h2>
          </div>
          <div class="close" id="close-btn">
            <span class="material-icons-sharp">close</span>
          </div>
        </div>

        <div class="sidebar">
          <a href="{% url 'admin_profile'%}" class="active">
            <span class="material-icons-sharp">grid_view</span>
            <h3>OverView</h3>
          </a>
          <a href="{% url 'admin' %}" >
            <span class="material-icons-sharp">receipt_long</span>
            <h3>Orders</h3>
          </a>
          <a href="{% url 'AddDockerPage' %}">
            <span class="material-icons-sharp">person_outline</span>
            <h3>Dockter</h3>
          </a>


          <a href="{% url 'logout' %}">
            <span class="material-icons-sharp">logout</span>
            <h3>Logout</h3>
          </a>
        </div>
      </aside>
      <!------------------ END OF ASIDE ------------------>
      <div class="wrapper">
        <div class="profile" id="profileSection">
            <div class="content">
                <h1>Profile</h1>
    
                <fieldset>
                    <div class="grid-35">
                        <label for="fname">First Name</label>
                    </div>
                    <div class="grid-65">
                        <div class="form-control">{{ user.first_name }}</div>
                    </div>
                </fieldset>
    
                <fieldset>
                    <div class="grid-35">
                        <label for="lname">Last Name</label>
                    </div>
                    <div class="grid-65">
                        <div class="form-control">{{ user.last_name }}</div>
                    </div>
                </fieldset>
    
                <fieldset>
                    <div class="col-4">
                        <label for="StreetInput">Street</label>
                        <div class="form-control">{{ street }}</div>
                    </div>
                    <div class="col-4">
                        <label for="SuburbInput">Suburb</label>
                        <div class="form-control">{{ suburb }}</div>
                    </div>
                    <div class="col-4">
                        <label for="StateSelect">State</label>
                        <div class="form-control">{{ state }}</div>
                    </div>
                    <div class="col-4">
                        <label for="PostcodeInput">Postcode</label>
                        <div class="form-control">{{ postcode }}</div>
                    </div>
                </fieldset>
    
            </div>
        </div>
    </div>
    
        
        <div class="profile" id="profileSection" style="display:none;">
          <div class="content">
            <h1>Edit Profile</h1>
            <form action="{% url 'Edit_Admin' %}" method="post">
              {% csrf_token %}
              <fieldset>
                <div class="grid-35">
                  <label for="fname">First Name</label>
                </div>
                <div class="grid-65">
                  <input type="text" id="fname" name = "fname" tabindex="1" />
                </div>
              </fieldset>
              <fieldset>
                <div class="grid-35">
                  <label for="lname">Last Name</label>
                </div>
                <div class="grid-65">
                  <input type="text" id="lname" name = "lname" tabindex="2" />
                </div>
              </fieldset>
              <!-- Description about User -->
              <!-- Location -->
              <fieldset>
                <div class="col-4">
                  <label for="StreetInput">Street</label>
                  <input type="text" class="form-control" id="StreetInput" name = "street" required>
                </div>
                <div class="col-4">
                    <label for="SuburbInput">Suburb</label>
                    <input type="text" class="form-control" id="SuburbInput" name = "suburb" required>
                </div>
                <div class="col-4">
                    <label for="StateSelect">State</label>
                    <select class="form-control" id="StateSelect" name="state" required>
                        <option value="NSW">New South Wales</option>
                        <option value="VIC">Victoria</option>
                        <option value="QLD">Queensland</option>
                        <option value="SA">South Australia</option>
                        <option value="WA">Western Australia</option>
                        <option value="TAS">Tasmania</option>
                        <option value="ACT">Australian Capital Territory</option>
                        <option value="NT">Northern Territory</option>
                    </select>
                </div>                    
                <div class="col-4">
                    <label for="PostcodeInput">Postcode</label>
                    <input type="text" pattern="\d{4}" maxlength="4" class="form-control" id="PostcodeInput" name="postcode" required>
                </div>                    
              </fieldset>
              <!-- Country -->
              <fieldset>
                <div class="grid-35">
                  <label for=“Expected Salary">Expected Salary(per hour)</label>
                </div>
                <div class="grid-65">
                  <input type="text" id="cost" tabindex="5" />
                </div>
              </fieldset>
              <!-- Email -->
              <fieldset>
                <div class="grid-35">
                  <label for="email">Email Address</label>
                </div>
                <div class="grid-65">
                  <input type="email" id="email" name="email" tabindex="6" />
                </div>
              </fieldset>
              <fieldset>
                <input type="button" class="Btn cancel" value="Cancel" />
                <input type="submit" class="Btn" value="Save Changes" />
              </fieldset>
      
            </form>
          </div>
        </div>
      </div>
    </div>>
      
      
      <!-- http://www.smashingmagazine.com/2013/08/08/release-livestyle-css-live-reload/ -->

      <div class="right">
        <div class="top">
          <button id="menu-btn">
            <span class="material-icons-sharp">menu</span>
          </button>
          <div class="theme-toggler">
            <span class="material-icons-sharp active">light_mode</span>
            <span class="material-icons-sharp">dark_mode</span>
          </div>
        </div>
        <!-- END OF TOP -->
          <div class="sales-analytics">
              <div   class="item add-product">
                  <div id="main-content">
                      <span class="material-icons-sharp">add</span>
                      <button id="add-doctor-btn"> Doctor</button>
                  </div>
              </div>
          </div>
      </div>
    </div>

    
    </div>
    
    <script src="{% static 'js/orders.js' %}"></script>
    <script src="{% static 'js/index.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>

        function showEditProfile() {
            document.getElementById('profileSection').style.display = 'block';
        }

        document.getElementById("add-doctor-btn").addEventListener("click", function() {
            document.getElementById("overlay").style.display = "block";
            document.getElementById("main-content").classList.add("disabled-content");
        });
        document.getElementById("close-icon").addEventListener("click", function() {
            document.getElementById("overlay").style.display = "none";
            document.getElementById("main-content").classList.remove("disabled-content");

            document.getElementById("add-doctor-form").addEventListener("submit", function(event) {
                event.preventDefault();
                document.getElementById("overlay").style.display = "none";
                document.getElementById("main-content").classList.remove("disabled-content");

            });
            // Implement form processing logic here
        });
    </script>
    <script>
      /*var Person = function(name,age,email){
          this.name = name;
          this.age = age;
          this.email = email;
        }

        var gurpreet = new Person("Gurpreet",18,"gurprit96kaur@gmail.com");
        var manpreet = new Person("Manpreet",20,"manpreet.gulati17@gmail.com");

        var myName = $("span.name");
        var mylink = $("span.links");

        myName.html(manpreet.name + ", " + manpreet.age);

        mylink.html(manpreet.email);*/


        //Tabs Layout Code
        $("#tabs").tabs({
            activate: function (event, ui) {
                var active = $('#tabs').tabs('option', 'active');
                $("#tabid").html('the tab id is ' + $("#tabs ul>li a").eq(active).attr("href"));
            }
        });
    </script>
    <script>
      function googleMapsCallback() {
          var streetInput = document.getElementById('StreetInput');
          var suburbInput = document.getElementById('SuburbInput');
          var postcodeInput = document.getElementById('PostcodeInput');
      
          function handlePlaceSelection(inputElement, place) {
              var addressComponents = place.address_components;
      
              // Reset values to make sure any previous input is cleared
              streetInput.value = '';
              suburbInput.value = '';
              postcodeInput.value = '';
      
              // Extract street, city, and postal code
              for (var i = 0; i < addressComponents.length; i++) {
                  var addressType = addressComponents[i].types[0];
                  var val = addressComponents[i].long_name;
                  switch(addressType) {
                      case 'street_number':
                          streetInput.value = val;
                          break;
                      case 'route':
                          if (streetInput.value) {
                              streetInput.value += ' ';
                          }
                          streetInput.value += val;
                          break;
                      case 'locality':
                          suburbInput.value = val;
                          break;
                      case 'postal_code':
                          postcodeInput.value = val;
                          break;
                  }
              }
          }
      
          var options = {
              types: ['address'],
              componentRestrictions: {country: 'au'}
          };
      
          // Autocomplete for street
          var autocompleteStreet = new google.maps.places.Autocomplete(streetInput, options);
          autocompleteStreet.addListener('place_changed', function() {
              handlePlaceSelection(streetInput, autocompleteStreet.getPlace());
          });
      
          // Autocomplete for suburb
          var autocompleteSuburb = new google.maps.places.Autocomplete(suburbInput, options);
          autocompleteSuburb.addListener('place_changed', function() {
              handlePlaceSelection(suburbInput, autocompleteSuburb.getPlace());
          });
      
          // Autocomplete for postcode
          var autocompletePostcode = new google.maps.places.Autocomplete(postcodeInput, {types: ['(regions)'], componentRestrictions: {country: 'au'}});
          autocompletePostcode.addListener('place_changed', function() {
              handlePlaceSelection(postcodeInput, autocompletePostcode.getPlace());
          });
      }
      
      </script>
      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBlGBJ1MbtPawltq76TsrzHzrFPFi_uMig&libraries=places&callback=googleMapsCallback"></script>
      
  </body>
</html>
