
<!DOCTYPE html>
<html>
{% load static %}
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">

    <title>Donation</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/navBar.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/newDonation.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/newFooter.css' %}" />
    <style>
        .user-avatar {
            vertical-align: middle;
            width: 50px;
            height: 50px;
            border-radius: 50%;
        }
    </style>
</head>

<body>
    <header>
        <a href="#" class="logo">E-MedCenter</a>
        <div class="navbar">
            <ul>
                <li><a href="#">Home</a>
                </li>
                <li><a href="#">Book</a>
                    <ul>
                        <li><a href="{% url 'BookCaregiverPage' %}">Caregiver</a></li>
                        <li><a href="">Practitioner</a>
                    </ul>
                </li>
                <li><a href="{% url 'Donation' %}">Donation</a></li>
                <li><a href="{% url 'ServiceInformationPage' %}">About Us</a></li>
                <li><a href="{% url 'AboutusPage' %}">Support</a></li>
                {% if user.is_authenticated %}
                <!-- 如果用户已登录，显示头像和身份特定的链接 -->
                <li>
                    <a href="{% url 'profile' %}">
                        <img src="{{ user.userprofile.avatar.url }}" alt="{{ user.username }}" class="user-avatar" >
                    </a>
                </li>

                {% else %}
                <!-- 如果用户未登录，显示'Login/Signup'链接 -->
                <li><a href="{% url 'Login' %}">Login/Sign up</a></li>
                {% endif %}
            </ul>
        </div>
    </header>


    <section class="section-container-1">
        <div data-aos="fade-right" data-aos-delay="300"  data-aos-duration="1500" data-aos-anchor-placement="down-center" class="container">
            <div class="left-side">
                <h1>Donation</h1>
                <h2>Aim high. Always aim for the moon!</h2>
                <a href="https://www.north-shore.com.au/foundation/" target="_blank">
                    <button type="button" class="button-left">Go to their website</button>
                </a>
            </div>
            <div class="right-side">
                <img src="images/sponser_logo1.png" alt="Your Image">
            </div>
        </div>
    </section>



    <section class="section-container-2">
        <div data-aos="fade-left" data-aos-delay="300"  data-aos-duration="1500" data-aos-anchor-placement="down-center" class="container">
            <div class="left-side">
                <img src="images/sponser_logo2.png" alt="Your Image">
            </div>
            <div class="right-side">
                <h3>Donation</h3>
                <h4>Supporting your heart journey for life!</h4>
                <a href="https://www.heartkids.org.au/?gclid=Cj0KCQjw4bipBhCyARIsAFsieCyVA3bxlZQ8IFfQ4ZeQluDBDfZRBziWVcZEkuPKVO6LIS6TzDhJZsQaAsHWEALw_wcB" target="_blank">
                    <button type="button" class="button-right">Go to their website</button>
                </a>
            </div>
        </div>
    </section>


    <section class="section-container-3">
        <div data-aos="fade-right" data-aos-delay="300"  data-aos-duration="1500" data-aos-anchor-placement="down-center" class="container">
            <div class="left-side">
                <h1>Donation</h1>
                <h2>Apply for a Princes's trust sponsorship now!</h2>
                <a href="https://www.princes-trust.org.au/" target="_blank">
                    <button type="button" class="button-left">Go to their website</button>
                </a>
            </div>
            <div class="right-side">
                <img src="images/sponser_logo3.png" alt="Your Image">
            </div>
        </div>
    </section>


    <script>
        window.addEventListener("scroll",()=>{
            let header=document.querySelector("header");
            header.classList.toggle("sticky",window.scrollY>0);
        })
    </script>

    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

    <script>
        AOS.init();
    </script>


</body>


</html>
