<!DOCTYPE html>
<html>

<head>
    <title>E-MedCenter</title>


    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="Book Gp, Caregiver, Doctor">
    <meta name="description" content="Book Gp and Caregiver in a easy way">
    <meta name="author" content="Group 50">

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/navBar.css' %}" />
   <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/newFooter.css' %}" />

    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">


<!--
    <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>


    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">


    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    -->

    <!--<style>
        .user-avatar {
            vertical-align: middle;
            width: 50px;
            height: 50px;
            border-radius: 50%;
        }
    </style>-->








</head>

<body>

    <header>
        <a href="{% url 'HomePage' %}" class="logo">E-MedCenter</a>
        <div class="navbar">
            <ul>
              <li><a href="{% url 'HomePage' %}">Home</a>
                </li>
                <li><a href="#">Book</a>
                    <ul>
                        <li><a href="{% url 'BookCaregiverPage' %}">Book Caregiver</a></li>
                        <li><a href="{% url 'BookGPPage' %}">Book GP</a>
                    </ul>
                </li>
                <li><a href="{% url 'Donation' %}">Donation</a></li>
                {% comment %} <li><a href="{% url 'ServiceInformationPage' %}">About us</a></li> {% endcomment %}
                <li><a href="{% url 'AboutusPage' %}">About Us</a></li>
                {% if user.is_authenticated %}
                <!-- 如果用户已登录，显示头像和身份特定的链接 -->
                <li>
                    <a href="{% url 'profile' %}">
                        <img src="{{ user.userprofile.avatar.url }}" alt="{{ user.username }}" class="user-avatar" >
                    </a>
                </li>

                {% else %}
                <!-- 如果用户未登录，显示'Login/Signup'链接 -->
                <li><a href="{% url 'Login' %}">Login/Sign up</a></li>
                {% endif %}
            </ul>
        </div>
    </header>

<div class="container" id="contain">
    <div class="forms-container">
        <div class="signInAndSignUp">
            <form action="{% url 'Login' %}" method="post" class="signInForm">
                {% csrf_token %}
                <h2 class="title">Sign in</h2>
                <div class="input-field">
                    <i class="fas fa-user"></i>
                    <input type="text" id="Username" name="Username" placeholder="Username" required >
                </div>
                <div class="input-field">
                    <i class="fas fa-lock"></i>
                    <input type="password" id="password" name="password"  placeholder="Password"required >
                </div>

                <input type="submit" value="Login" class="btn solid" />
                <p class="social-text">Forget password ?</p>

            </form>


            <form action="{% url 'SignUp' %}" method="post" class="signUpForm">
                {% csrf_token %}
                <h2 class="title">Sign up</h2>

                <div class="form-group-1" id="form-group-1">
                <div class="input-field">
                    <i class="fas fa-user"></i>
                    <input type="text" id="Username2" name="Username2" placeholder="Username" required >
                </div>

                <div class="input-field">
                    <i class="fas fa-envelope"></i>
                    <input type="email" id="Email" name="Email" placeholder="Email" required>
                </div>
                <div class="input-field">
                    <i class="fas fa-lock"></i>
                    <input type="password" placeholder="Password" name = "pw" id = "SignUpPassword1"required />
                </div>
                <div class="input-field">
                    <i class="fas fa-lock"></i>
                    <input type="password" placeholder="Confirm Password" name = "pw1" id = "SignUpPassword2" checked required />
                </div>
                </div>


                <div class="form-group-2" id="form-group-2" data-aos="fade-in"
                     data-aos-delay="300"
                     data-aos-duration="1000">
                    <div class="input-field">
                        <i class="fas fa-street"></i>
                        <input type="text" name="Street" placeholder="Street" id = "StreetInput" required>
                    </div>

                    <div class="input-field">
                        <i class="fas fa-suburb"></i>
                        <input type="text" name="Suburb" placeholder="Suburb" id = "SuburbInput" required>
                    </div>
                    <div class="input-field">
                        <i class="fas fa-state"></i>
                        <input type="text" name="State" placeholder="State" id="StateInput" required>
                    </div>
                    <div class="input-field">
                        <i class="fas fa-postcode"></i>
                        <input type="number" name="Postcode" placeholder="Postcode" id = "PostcodeInput" required>
                    </div>
                    <div >
                        <input type="checkbox" id="custom-checkbox" class="custom-checkbox" name="register-as-caregiver">
                        <label class="custom-label" for="custom-checkbox" id="custom-label"> Book as a Caregiver</label>
                    </div>
                </div>
                <input type="button"  class="btn" value="Next" id="next-button" onclick="clickme() "method = "post" action="{% url 'SignUp' %}"></input>
            </form>
        </div>
    </div>

    <div class="panels-container">
        <div class="panel left-panel">
            <div class="content">
                <h3>New here ?</h3>
                <p>
                    Welcome to our healthcare platform! Whether you're a patient in search of quality care, a caregiver ready to assist, or a medical professional looking to join our community, we're excited to have you here. 
                </p>

                <button class="btn transparent" id="sign-up-btn">
                    Sign up
                </button>
            </div>

            <img src="{% static 'res/log.svg' %}" class="image" alt="" />
        </div>
        <div class="panel right-panel">
            <div class="content">
                <h3>One of us ?</h3>
                <p>
                    Welcome back to our healthcare community! Whether you're a patient seeking medical care, a caregiver offering your services, or a medical professional looking to connect with patients, you're an essential part of our platform.
                </p>

                <button class="btn transparent" id="sign-in-btn">
                    Sign in
                </button>
            </div>

            <img src="{% static 'res/register.svg' %}" class="image" alt="" />
        </div>
    </div>
</div>


<div class="footer">
    <ul class="footer-links">
        <li><a href="#">Site Map</a></li>
        <li><a href="#">Privacy Policy</a></li>
        <li><a href="#">Terms of Use</a></li>
        <li><a href="#">Support</a></li>
    </ul>
</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script src="{% static 'js/app.js' %}"></script>
<script>
    window.addEventListener("scroll",()=>{
        let header=document.querySelector("header");
        header.classList.toggle("sticky",window.scrollY>0);
    })
</script>

 <script>
     $(document).ready(function() {
     // Function to clear the error message
     function clearErrorMessage() {
       $('.error-message').text('');
     }
     // Listen to input events on email and password fields
     $('#email, #password').on('input', clearErrorMessage);
 
     // Remove error message when input fields are focused
     $('#email, #password').on('focus', clearErrorMessage);
 
     // Optional: Clear the error message when the form is submitted
     $('#signup-form').on('submit', clearErrorMessage);
   });
 </script>

<script>

    function showToast(msg,duration){
        duration=isNaN(duration)?3000:duration;
        var m = document.createElement('div');
        m.innerHTML = msg;
        m.style.cssText="width:60%; min-width:180px; background:#000; opacity:0.6; height:auto;min-height: 30px; color:#fff; line-height:30px; text-align:center; border-radius:4px; position:fixed; top:60%; left:20%; z-index:999999;";
        document.body.appendChild(m);
        setTimeout(function() {
            var d = 0.5;
            m.style.webkitTransition = '-webkit-transform ' + d + 's ease-in, opacity ' + d + 's ease-in';
            m.style.opacity = '0';
            setTimeout(function() { document.body.removeChild(m) }, d * 1000);
        }, duration);
    }
</script>
<script>
    function validateEmail(email) {
        var re = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
        return re.test(email);
    }
    function clickme() {
        var filled = true;
        var emailValid = true;
        var passwordsMatch = true;
        
        var inputs = $("#form-group-1 input");
        var emailInput = $("#Email").val();
        var usernameInput = $("#Username2").val();

        inputs.each(function() {
            if ($(this).val() == "") {
                filled = false;
                return false;
            }
        });

        if (!validateEmail(emailInput)) {
            emailValid = false;
        }

        var passwordInput = $("#SignUpPassword1");
        var confirmPasswordInput = $("#SignUpPassword2");
        if (passwordInput.val() != confirmPasswordInput.val()) {
            passwordsMatch = false;
        }

        if (filled && emailValid && passwordsMatch) {
            fetch("/check_email_and_username/?email=" + emailInput + "&username=" + usernameInput + "&password=" + passwordInput.val())
            .then(response => response.json())
            .then(data => {
                if (data.message) {
                    showToast(data.message, 3000);
                } else {
                    $('#form-group-1').fadeOut(1200, function() {
                        $('#form-group-2').fadeIn(1200);
                        document.getElementById("next-button").type = "submit";
                    });
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });

        } else {
            // 如果基础验证没有通过，显示相应的提示信息
            if (!filled) {
                alert("请填写所有字段");
            } else if (!emailValid) {
                alert("请输入有效的邮箱地址");
            } else if (!passwordsMatch) {
                alert("密码不匹配");
            }
        }
    }

</script>
<script>
    $(document).ready(function() {
        $("#form-group-1").fadeIn(2000);
    });
</script>
<script>
    function googleMapsCallback() {
        var streetInput = document.getElementById('StreetInput');
        var suburbInput = document.getElementById('SuburbInput');
        var postcodeInput = document.getElementById('PostcodeInput');
        var stateInput = document.getElementById('StateInput');

        function handlePlaceSelection(inputElement, place) {
            var addressComponents = place.address_components;

            // Reset values to ensure that any previous input is cleared
            streetInput.value = '';
            suburbInput.value = '';
            postcodeInput.value = '';
            stateInput.value = '';

            // Extract street, city, postal code, and state from the selected place
            for (var i = 0; i < addressComponents.length; i++) {
                var addressType = addressComponents[i].types[0];
                var val = addressComponents[i].long_name;
                switch (addressType) {
                    case 'street_number':
                        streetInput.value = val;
                        break;
                    case 'route':
                        if (streetInput.value) {
                            streetInput.value += ' ';
                        }
                        streetInput.value += val;
                        break;
                    case 'locality':
                        suburbInput.value = val;
                        break;
                    case 'postal_code':
                        postcodeInput.value = val;
                        break;
                    case 'administrative_area_level_1':
                        stateInput.value = val;
                        break;
                }
            }
        }

        // General options
        var options = {
            componentRestrictions: {country: 'au'}
        };

        // Adjust types based on input focus for sorting
        var streetOptions = Object.assign({types: ['address']}, options);
        var suburbOptions = Object.assign({types: ['(regions)']}, options);
        var postcodeOptions = Object.assign({types: ['(regions)']}, options);
        var stateOptions = Object.assign({types: ['(regions)']}, options);

        // Autocomplete for street
        var autocompleteStreet = new google.maps.places.Autocomplete(streetInput, streetOptions);
        autocompleteStreet.addListener('place_changed', function() {
            handlePlaceSelection(streetInput, autocompleteStreet.getPlace());
        });

        // Autocomplete for suburb
        var autocompleteSuburb = new google.maps.places.Autocomplete(suburbInput, suburbOptions);
        autocompleteSuburb.addListener('place_changed', function() {
            handlePlaceSelection(suburbInput, autocompleteSuburb.getPlace());
        });

        // Autocomplete for postcode
        var autocompletePostcode = new google.maps.places.Autocomplete(postcodeInput, postcodeOptions);
        autocompletePostcode.addListener('place_changed', function() {
            handlePlaceSelection(postcodeInput, autocompletePostcode.getPlace());
        });

        // Autocomplete for state
        var autocompleteState = new google.maps.places.Autocomplete(stateInput, stateOptions);
        autocompleteState.addListener('place_changed', function() {
            handlePlaceSelection(stateInput, autocompleteState.getPlace());
        });
    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBlGBJ1MbtPawltq76TsrzHzrFPFi_uMig&libraries=places&callback=googleMapsCallback"></script>
    

<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
    AOS.init();
</script>
</body>

</html>