<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/Information.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/fold.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}" />
    <title>Service Information</title>
</head>

<body>
    <header>
        <a href="#" class="logo">E-MedCenter</a>
        <div class="navbar">
            <ul>
                <li><a href="#">Home</a>
                </li>
                <li><a href="#">Book</a>
                    <ul>
                        <li><a href="{% url 'BookCaregiverPage' %}">Caregiver</a></li>
                        <li><a href="">Practitioner</a>
                    </ul>
                </li>
                <li><a href="{% url 'Donation' %}">Donation</a></li>
                <li><a href="{% url 'ServiceInformationPage' %}">About us</a></li>
                <li><a href="{% url 'AboutusPage' %}">Support</a></li>
                <li><a href="{% url 'Login' %}">Login/Sign up</a></li>
            </ul>
        </div>
    
    
        <!-- write your section here(under section) -->
        <section>
    
        </section>
    
    </header>

    <div class="center-content d-flex flex-column align-items-center justify-content-center" style="min-height: calc(100vh - 56px);">  
        <div class="text-center mb-4">
            <h2 style="margin-top: 10%; margin-bottom: 2%; font-size:50px;">Our Team</h2>
        </div>
          
        <section class="bookingpage d-flex justify-content-center">
            <div class="container">
                <div class="row">

                    <div class="col-md-3 col-sm-6">
                        <div class="our-team">
                            <img src="{% static 'res/img-1.webp' %}" alt="" class="enlarged-img">
                            <div class="team-content">
                                <h3 class="post-title">Dr. Emily Johnson</h3>
                                <span class="post">Chief Medical Advisor</span>
                                <p class="description">
                                    Dr. Emily Johnson is a distinguished medical professional with extensive experience in medical advisement and healthcare management.
                                </p>
                                <ul class="team_social">
                                    <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-google-plus"></i></a></li>
                                    <li><a href="#"><i class="fab fa-pinterest"></i></a></li>
                                </ul>
                            </div>
                            <div class="team-prof">
                                <h3 class="post-title">Dr. Emily Johnson</h3>
                                <span class="post">Chief Medical Advisor</span>
                            </div>                            
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6">
                        <div class="our-team">
                            <img src="{% static 'res/img.jpeg' %}" alt="" class="enlarged-img">
                            <div class="team-content">
                                <h3 class="post-title">Jane Doe</h3>
                                <span class="post">Chief Nursing Officer</span>
                                <p class="description">
                                    Jane Doe, our Chief Nursing Officer, brings a wealth of experience in providing high-quality patient care and nursing leadership. With a profound dedication to promoting health.
                                </p>
                                <ul class="team_social">
                                    <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                </ul>
                            </div>
                            <div class="team-prof">
                                <h3 class="post-title">Jane Doe</h3>
                                <span class="post">Chief Nursing Officer</span>
                            </div>                            
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6">
                        <div class="our-team">
                            <img src="{% static 'res/img-1.avif' %}" alt="" class="enlarged-img">
                            <div class="team-content">
                                <h3 class="post-title">Dr. Sarah Miller</h3>
                                <span class="post">Clinical Director</span>
                                <p class="description">
                                    Dr. Sarah Miller is a dynamic and innovative Clinical Director with a passion for delivering high-quality patient care. 
                                </p>
                                <ul class="team_social">
                                    <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                    <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                                </ul>
                            </div>
                            <div class="team-prof">
                                <h3 class="post-title">Dr. Sarah Miller</h3>
                                <span class="post">Clinical Director</span>
                            </div>                            
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <hr>

        <div class="text-center mb-4">
            <h2 style="margin-top: 20%; margin-bottom: 2%; font-size:50px;">Our Partner</h2>
        </div>

        <section class="bookingpage d-flex justify-content-center">
            
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <div class="our-team">
                            <img src="{% static 'res/insu.png' %}" alt="" class="enlarged-img">
                            <div class="team-content">
                                <h3 class="post-title">SecureFuture Insurance</h3>
                                <span class="post">Your Shield to the Future</span>
                                <p class="description">
                                    Your partner in premium protection solutions.
                                </p>
                                <ul class="team_social">
                                    <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-google-plus"></i></a></li>
                                    <li><a href="#"><i class="fab fa-pinterest"></i></a></li>
                                </ul>
                            </div>
                            <div class="team-prof">
                                <h3 class="post-title">SecureFuture Insurance</h3>
                                <span class="post">Tailored Insurance Solutions</span>
                            </div>
                                                     
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6">
                        <div class="our-team">
                            <img src="{% static 'res/ngo.jpeg' %}" alt="" class="enlarged-img">
                            <div class="team-content">
                                <h3 class="post-title">Global Harmony</h3>
                                <span class="post">Sustainable Development</span>
                                <p class="description">
                                    Empowering communities through education, health, and sustainability projects worldwide.
                                </p>
                                <ul class="team_social">
                                    <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                    <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                            <div class="team-prof">
                                <h3 class="post-title">Global Harmony</h3>
                                <span class="post">Sustainable Development</span>
                            </div>
                            
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6">
                        <div class="our-team">
                            <img src="{% static 'res/med.jpeg' %}" alt="" class="enlarged-img">
                            <div class="team-content">
                                <h3 class="post-title">HealWell Medical Center</h3>
                                <span class="post">Healthcare Provider</span>
                                <p class="description">
                                    Providing advanced medical care and wellness services to ensure community well-being.
                                </p>
                                <ul class="team_social">
                                    <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                    <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                            <div class="team-prof">
                                <h3 class="post-title">HealWell Medical Center</h3>
                                <span class="post">Healthcare Provider</span>
                            </div>                            
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <footer class="footer">
        <div class="row">
            <div class="col">
                <h3>Office <div class="bottom_line"><span></span></div></h3>
                <p>The University of Sydney</p>
                <p>Maze Cres</p>
                <p class="last-paragraph">Darlington NSW 2008</p>
                <div class="map-container">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3311.9985970546354!2d151.19046917581613!3d-33.88968997321863!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6b12b1a2155b3a41%3A0xc89684e0efc0778a!2sEngineering%20and%20Technology%20Precinct%20(J03)!5e0!3m2!1szh-CN!2sau!4v1696148713081!5m2!1szh-CN!2sau" width="250" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
            
            <style>
            .last-paragraph {
                margin-bottom: 20px; /* Adjust the value as per your requirement */
            }
            
            .map-container {
                padding: 10px;
            }
            </style>
            <div class="col">
                <h3>Links <div class="bottom_line"><span></span></div></h3>
                <ul>
                    <li><a href="">HOME</a></li>
                    <li><a href="">Book</a></li>
                    <li><a href="{% url 'Donation' %}">Donation</a></li>
                    <li><a href="{% url 'ServiceInformationPage' %}">About Us</a></li>
                    <li><a href="{% url 'AboutusPage' %}">Support</a></li>
                    <li><a href="">CONTACT US</a></li>
                </ul>
            </div>
            <div class="col">
                <h3>Newsletter <div class="bottom_line"><span></span></div></h3>
                <form>
                    <ion-icon class="icon" name="mail"></ion-icon>
                    <input type="email" placeholder="Enter your email" required>
                    <button type="submit"><ion-icon class="icon_right" name="arrow-round-forward"></ion-icon></button>
                </form>
                <div class="social_icons">
                    <ion-icon class="social_icon" name="logo-facebook"></ion-icon>
                    <ion-icon class="social_icon" name="logo-whatsapp"></ion-icon>
                    <ion-icon class="social_icon" name="logo-twitter"></ion-icon>
                    <ion-icon class="social_icon" name="logo-instagram"></ion-icon>
                </div>
            </div>
        </div>
        <hr>
        <p class="copyright">Cosas Learning Ⓒ 2022 - All Rights Reserved</p>
     </footer> 
</body>
</html>
