body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
#sidebar {
    background-color: #165721;
    color: rgb(6, 50, 22);
    width: 170px;
    position: fixed;
    height: 100%;
    overflow: auto;
}


#upper-main-content {
    margin-left: 190px;
    padding: 10px;
}

.sidebar-link {
    display: -webkit-box;
    padding: 30px;
    color: white;
    text-decoration: none;
}
.sidebar-link:hover {
    background-color: #7cc47f;
}


.sidebar-title {
    padding-top: 40px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-left:20px;
}

.bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px;
}

#upper-main-content {
    display: flex;  /* ä½¿ç”¨ flexbox å¸ƒå±€ */
    justify-content: space-between;  /* åˆ†éš”å·¦å³å†…å®¹ */
    align-items: center;  /* åž‚ç›´å±…ä¸­ align */
}
.upper-main-content-login {
    background-color: #165721;
    color: white;
    padding: 10px;
    text-decoration: none;
}
h1 {
    margin: 0;  /* åˆ é™¤é»˜è®¤çš„ margin */
}
p {
    margin: 0;  /* åˆ é™¤é»˜è®¤çš„ margin */
}

#table-container {
    transform: scale(0.8);  
    transform-origin: center;  
    margin-left: 10%;
    margin-top: 5%;
    border-radius: 10px;
    border-spacing: 10px;
    border-collapse: collapse;
    background-color: white;
}

#table-container td, th {
    text-align: center;
    padding: 10px 20px;
  }


  #main-background{
    margin-left: 170px;
    padding: 10px;
    background-color:#f2f9f2fe;
    position: fixed;
    height: 100%;
    width: 100%;
    overflow: auto;  
    justify-content: center;
    align-items: flex-start; 
}


#main-background .form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #main-background .form div {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
 

  #main-background .form-group input[type="text"] {
    width: 60%;
    height: 180px;
    padding: 10px;
    margin-left:8%;
    margin-top:1%;
    border: 1px solid #ccc;
    border-radius: 3px;
  }

  #main-background .form-group label {
    display: block;
    margin-left:30%;
    font-weight: bold;
    margin-top: 2%;
    font-size: 20px;
  }


  #main-background .form-buttons {
    display: fixed;
    justify-content: space-between; /* Space between buttons */
    margin-top: 3%; /* Optional: Add margin for spacing */
}

#main-background .form-buttons button {
    width: 20px; /* Reduced button width */
    height: 50px;
    font-size: 18px; /* Reduced font size */
    background-color: white;
    color: black;
    border: 1px solid grey;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0; /* Remove individual margins */
}

#main-background .form-buttons button.edit-button {
    margin-right: 10px; /* Adjust spacing between buttons */
}

#main-background .form-buttons button:hover {
    background-color: grey;
    color: white;
}

#main-background button.edit-button{
    width:160px;
    height:35px;
    font-size: 20px;
    margin-top: 3%;
    margin-left: 17%;
}

#main-background button.save-button{
    width:160px;
    height:35px;
    font-size: 20px;
    margin-top: 3%;
    margin-left: 15%;
}
#main-background button.edit-butto:hover {
    background-color: #878a8d;
  }

  #main-background button.save-butto:hover {
  background-color: #878a8d;
}
