body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

#sidebar {
    background-color: #000401;
    color: white;
    width: 170px;
    position: fixed;
    height: 100%;
    overflow-y: auto;
    padding-top: 20px;
}

#upper-main-content {
    margin-left: 200px;
    padding: 35px;
}

.sidebar-link, .bottom a {
    display: block;
    padding: 20px;
    color: white;
    text-decoration: none;
}

.sidebar-link:hover, .bottom a:hover {
    background-color: #bcc1bd;
}

.sidebar-title {
    padding-top: -5px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-left:20px;
}

.bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px;
}

#upper-main-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.upper-main-content-login {
    background-color: #010802;
    color: white;
    padding: 10px;
    text-decoration: none;
}

.centered-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40vh;
    margin-left: 200px;
}

.centered-box {
    width: 50%;
    background-color: #fff;
    padding: 20px;
    border: 2px solid #a3a1a1;
    border-radius: 10px;
    text-align: center;
    margin-top: -200px; 
}

.divider {
    height: 2px;
    background-color: #a3a1a1;
    margin-left: 200px;
    margin-top: -150px;
    margin-bottom: 10px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: 200px;
    margin-top: 10px;
}


.column {
    flex: 1;
    box-sizing: border-box;
    padding: 10px;
    min-width: 300px;
}

.card {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin-bottom: 16px;
    border-radius: 10px; 
}

.card img {
    height: 150px; 
    object-fit: cover; 
    width: 100%; 
}

.container {
    padding: 0 16px;
}

.title {
    color: grey;
}

.button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    border-radius: 10px; 
}

.button:hover {
    background-color: #555;
}

a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}

a:hover {
  background-color: #ddd;
  color: black;
}

.previous {
    background-color: #f1f1f1;
    color: black;
}

.next {
    background-color: #04AA6D;
    color: white;
}

.round {
  border-radius: 50%;
}

.pagination {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    margin-left: 200px; /* Aligning with the rest of the content */
}

.pagination a {
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
}

.pagination a:hover {
    background-color: #ddd;
}

/* You can also style the active page number differently if you want */
.pagination a.active {
    background-color: #4CAF50;
    color: white;
}
