body {
    min-height: 100vh;
    background-color: white;
    font-family: "Apple Braille";
}
header {

    background-color: rgb(120,120,120);
}

header.sticky {
    padding: 6px 100px;
    background-color: rgb(220,220,220);
}

.footer{
    margin-top: 5vh;
}

.background {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: white;
}

#resetPassword {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40vw;
    height: auto;
    padding: 20px;
}

#resetPassword div h2 {
    text-align: center;
    font-size: 2vw;
}

.reset-container {
    width: 25vw;
    padding: 2vw;
    border-radius: 0.7vw;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    background-color: white;
}

.form-group {
    margin-bottom: 2vh;
}

.form-group label {
    display: block;
    text-align: left;
    font-weight: bold;
    font-size: 1.1vw;
}

.form-group input[type="text"],
.form-group input[type="password"],
.form-group input[type="date"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.common-button {
    width: 100%;
    padding: 0.7vw;
    background-color: #353535;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.common-button:hover {
    background-color: #878a8d;
}
