body {

  min-height: 100vh;
  background-color: white;

}

header {

  background-color: rgb(120,120,120);
}

header.sticky {
  padding: 6px 100px;
  background-color: rgb(220,220,220);
}






#support{
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  min-height: 80vh;
  width: 100%;
  /* background-color: palevioletred; */
  justify-content:flex-start;
  align-items: center;
  z-index: 0;
  font-family: 'Poppins';
}
.support .showingPicture{
  width: 45vw;
  max-height: 80vh;
  text-align: center;
  /* background-color: yellowgreen; */
 margin-right: 5vw;
 margin-top: 30vh;
  padding: 0;

}
.backgroundPicture{
  width: 100%;
  height: 60%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.contentRight{
  margin-right: 10vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: 60vh;
  align-items: center;
  margin-top: 10%;
}
.contentRight h1{
  font-size: 3vw;
  margin-bottom: 1.5vh;
}
.contentRight h2{
  font-size: 1.5vw;
  line-height: 1.8;
  margin-bottom: 1.5vh;
}
.contentRight h4{
  font-size: 1.2vw;
  line-height: 1.8;
  margin-bottom: 1.5vh;
}
.contentRight .image-links {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.5vh; 
}

.contentRight .image-links a {
  display: block; 
  text-align: center;
  margin-right: 10px; 
}

.contentRight .image-links img {
  width: 40px; 
  height: 40px; 
}




.footer {
  background-color: white;
  padding: 1vw;
  text-align: center;
  bottom: 0;
  width: 100%;
  border-top: 0.2vh solid #e2e2e2;

}
.footer-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.footer-links li {
  display: inline;
  margin: 0 15px;
}
.footer-links a {
  text-decoration: none;
  color: #999;
  font-size: 0.6vw;
}

.feedback-section {
  background-color: #f9f9f9;
  padding: 40px 0;
  text-align: center;
  margin-top: 5%;
}

.form-container {
  max-width: 70%;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.title-description span {
  display: block;
  font-size: 17px;
  color: #333;
  margin-bottom: 20px;
}

h1 {
  font-size: 27px;
  color: #333;
  margin-top: 4%;
  margin-bottom: 2%;
}

.input-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.input-field {
  flex-basis: calc(50% - 10px); 
  margin-bottom: 5%;
  text-align: center;
}
.input-field label {
  display: block;
  font-size: 20px;
  margin-bottom: 1%;
  color: #333;
  text-align: center; 
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  transition: border-color 0.3s;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
  border-color: #007bff; /* Highlight when focused */
}

input[type="description"],
textarea {
  height: 150px; /* Adjust the height to your preference */
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  transition: border-color 0.3s;
}

input[type="description"],
textarea:focus {
  border-color: #007bff; /* Highlight when focused */
}


.checkbox-group {
  text-align: center;
  margin-top: 3%;
}

input[type="checkbox"] {
  margin-right: 5px;
}

button {
  background-color: #007bff;
  color: #fff;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 3%;
}

button:disabled {
  background-color: black;
  cursor: not-allowed;
}

button:hover {
  background-color:grey; /* Darker shade on hover */
}

/* CSS for the modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 60%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  position: relative;
  max-width: 50%;
}

#termsModal .modal-content .terms-line {
  text-align: center;
}


.close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  color: #888;
  cursor: pointer;
}

/* team introduction */
.our-team {
  border: 1px solid #d3d3d3;
    position: relative;
    overflow: hidden;
    margin-top: 15px; /* Adjusted margin for spacing */
    margin-bottom: 15px; /* Adjusted margin for spacing */
    width: 100%; 
    max-width: 80%; /* Adjust the maximum width as needed */
}

.our-team .team-content{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 45px 18px;
  background: rgba(0,0,0,0.7);
  transform: translateX(-100%);
  transition: all 0.20s ease 0s;
}
.our-team:hover .team-content{
  transform: translateX(0);
}
.our-team .team-content .post-title{
  font-size: 18px;
  color: #fff;
  text-transform: uppercase;
}
.our-team .team-content .post{
  font-size: 14px;
  color: #cb95e1;
  display: block;
  margin-bottom: 20px;
}
.our-team .description{
  font-size: 14px;
  line-height: 25px;
  color: #fff;
  margin-bottom: 20px;
}
.our-team .team_social{
  margin:0;
  padding:0;
  list-style: none;
}
.our-team .team_social li{
  display: inline-block;
  margin-right: 5px;
}
.our-team .team_social li a{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #f5f5f5;
  font-size: 17px;
  color: #f5f5f5;
  line-height: 40px;
  text-align: center;
  display: inline-block;
  transition: border 0.3s ease 0s;
}
.our-team .team_social li a:hover{
  border-color: transparent;
}
.our-team .team-prof{
  width: 100%;
  position: absolute;
  bottom: 0;
  text-align: right;
  padding: 20px 16px;
  background: rgba(0,0,0,0.7);
  transform: translateX(0);
  transition: all 0.20s ease 0s;
}
.our-team:hover .team-prof{
  transform: translateX(100%);
}
.our-team .team-prof .post-title{
  font-size: 18px;
  color: #fff;
  margin: 0 0 8px 0;
  text-transform: uppercase;
}
.our-team .team-prof .post{
  font-size: 14px;
  color: #cb95e1;
  margin-bottom: 0;
}
@media only screen and (max-width: 990px) {
  .our-team{ margin-bottom: 20px; }
}

/* .enlarged-img img{
  width: 100%;  
  height: 50%; 
} */
.img {
  width: 100%;
  height: auto;
}


.team-content{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 45px 18px;
  background: rgba(0,0,0,0.7);
  transform: translateX(-100%);
  transition: all 0.20s ease 0s;
}
.team-content{
  transform: translateX(0);
}
.team-content {
  font-size: 18px;
  color: #fff;
  text-transform: uppercase;
}
.team-content{
  font-size: 14px;
  color: #cb95e1;
  display: block;
  margin-bottom: 20px;
}